<a href="https://colab.research.google.com/github/MatteusStranger/recomendation_system_machine_learning/blob/master/filmes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

uri_filmes = 'https://raw.githubusercontent.com/alura-cursos/machine-learning-algoritmos-nao-supervisionados/master/movies.csv'
filmes = pd.read_csv(uri_filmes)


filmes.columns = ['filme_id','titulo','generos']
filmes.head()

In [ ]:
generos = filmes.generos.str.get_dummies()
dados_dos_filmes = pd.concat([filmes,generos],axis=1)
dados_dos_filmes.head()

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
generos_escalados = scaler.fit_transform(generos)
generos_escalados.shape

In [21]:
from sklearn.cluster import KMeans

modelo = KMeans(n_clusters=3)
modelo.fit(generos_escalados)
print(f'Grupos: {modelo.labels_}')

Grupos: [2 2 0 ... 0 1 0]

In [ ]:
print(generos.columns)
print(modelo.cluster_centers_)

In [24]:
pd.DataFrame(modelo.cluster_centers_,columns=generos.columns)

   (no genres listed)    Action  Adventure  ...  Thriller       War   Western
0             0.01700 -0.186842  -0.294688  ... -0.014804  0.022633  0.010452
1            -0.05918  1.090329   1.036729  ...  0.324424 -0.024862 -0.018532
2            -0.05918 -0.186518   1.005158  ... -0.467644 -0.181384 -0.070350

[3 rows x 20 columns]